/* todas las imágenes que tengan en atributo alt */
img[alt] {
  border-radius: 50%;
}

/* Todos los elementos input que tengan como valor del atributo type: radio */
/* En este caso puede obviarse input y el resultado sería el mismo */
input[type="radio"] {
  margin: 5px;
}

[type="checkbox"] {
  margin: 8px;
}

[href="https://freecodecamp.org/espanol/"] {
  color:green;
  text-decoration: none;
  font-weight: bold;
}