/* ------------------------ Hexadecimal Code ------------------------- */

/* 0-9 A-F */

/* #000000 Color negro */

/* #  00     00    00 */
/*   Rojo  Verde  Azul */

/* 00 Ausencia total de ese color y FF el valor máximo */
/* Se pueden crear 16M de colores con estas combinaciones */
/* Para buscar colores en hexadecimal, escribir "colour picker" en google y sale para elegir colores */

/* ------------------------ RGB ------------------------- */
/* RGB(0, 255, 255) Rojo - Verde - Azul ( Mínimo 0 y máximo 255) */

/* ------------------------ Transparencia ------------------------- */
/* Cuanto tenemos transparencia en un color, rgb, pasa a ser rgba (a de alpha) 
  y se utiliza para especificar la transparencia de un color entre 0 y 1*/

div {
  background-color: #000;
  background-color: rgb(0, 0, 0);
}

h2 {
  color: #eba234;
  color: rgb(235, 162, 52);
}

img {
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: #eb4034;
  border-color: rgb(235, 64, 52);
}

a {
  color: #a730e3;
  color: rgb(167, 48, 227)
}

/* Cuando en el código hexadecimal, los dígitos son iguales a pares, puede escribirse con 3 caracteres en lugar de 6 */
/* #000000 -> #000
   #00ffaa -> #0fa    */